body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img {
  width: 15%;
  height: auto;
  border-radius: 25%;
}
.head {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: blueviolet;
  width: 80%;
}
.head-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  line-height: 10px;
  background-color: inherit;
  text-align: center;
}
.links {
  width: 80%;
  background-color: blueviolet;
  display: flex;
  justify-content: space-evenly;
}
a {
  text-decoration: none;
}
a:hover {
  color: blue;
}
.info {
  width: 80%;
  height: 850px;
  background-color: cadetblue;
  display: flex;
}
.left-info {
  width: 40%;
  height: 100%;
  background-color: chartreuse;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right-info {
  width: 60%;
  height: 100%;
  background-color: chocolate;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 20px;
  letter-spacing: 2px;
}
#left-vertical-line {
  width: 70%;
  height: 2px;
  background-color: darkgray;
}
ul {
  font-size: 1.2rem;
  list-style-type: none;
}
.work {
  background-color: chocolate;
  width: 100%;
  height: 150px;
}
.certificates {
  line-height: 25px;
}
.right-vertical-line {
  width: 80%;
  height: 2px;
  background-color: darkgray;
}
.row {
  display: flex;
  justify-content: space-between;
  width: 130%;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: cadetblue;
  width: 80%;
}
